# Ignore pycache directories
__pycache__/

# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore virtual environments
venv/
.venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore sensitive configuration files
*.env
.env.local
.env

# Ignore database-related files
*.db
*.sqlite
*.sqlite3
/instance/